@use 'scss/utils' as *;

.Skill {
  &Label {
    margin-bottom: -8px;
    color: #fff;
    text-align: right;
  }

  &Row {
    margin-bottom: 10px;
  }

  &Progress {
    height: 7px;
    margin-top: 0;
  }

  &Progress[value] {
    appearance: none;
    appearance: none;

    &::-webkit-progress-bar {
      border-radius: 2px;
      background: rgba(222, 245, 255, 0.322);
    }

    &::-webkit-progress-value {
      border-radius: 2px;
      background-color: rgba(245, 253, 255, 0.712);
      background-size: 35px 20px, 100% 100%, 100% 100%;
    }
  }
}
