/server/
/.vscode/
/.idea/
/server-data/cache/
/server-data/resources/\[local\]/
/server-data/logs/positions/positions.txt
*.out
/reports/
/server-data/permissions.cfg
/server-data/resources/\[admin\]/
node_modules
/server-native
/server-custom
shopitems
/server-data/resources/\[test\]/*
!/server-data/resources/\[test\]/EngineTest/
/server-data/resources/\[vehicle\]/esx_lscustom/
/server_dbg
/imagehost_node/public/images/
/imagehost_node/.env
/server-data/resources/\[ui\]/react_cad/react_cad_src/.env
/server_*
/txData
start_*.bat
/server-data/imgui.ini
/server-data/resources/\[ui\]/react_*/html
**/package-lock.json
