.Icon {
  display: block;
  width: 100%;
  height: 100%;
}

.Group {
  &Circle {
    transform: translate(-17.326975px, -15.922729px);

    &Top {
      transform: translate(17.326975px, 15.922729px);
      animation: topCircleAnim 3000ms linear infinite normal forwards;
    }
  }

  &Ray {
    &Right {
      &Top {
        transform: matrix(1 0 0 1 -0.02616224000002 0.008202235);
        animation-name: RayRightTopMorph, RayRightTopOpacity;
        animation-duration: 3000ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: forwards;
      }

      &Bottom {
        transform: matrix(1 0 0 1 0.13721847 0);
        animation-name: RayRightBottomMorph, RayRightBottomOpacity;
        animation-duration: 3000ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: forwards;
      }
    }

    &Center {
      animation-name: RayCenterMorph, RayCenterOpacity;
      animation-duration: 3000ms;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }

    &Left {
      &Top {
        animation-name: RayLeftTopMorph, RayLeftTopOpacity;
        animation-duration: 3000ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: forwards;
      }

      &Bottom {
        animation-name: RayLeftBottomMorph, RayLeftBottomOpacity;
        animation-duration: 3000ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: forwards;
      }
    }
  }
}

@keyframes topCircleAnim {
  0% {
    transform: translate(17.326975px, 15.922729px) rotate(0deg);
  }

  33.333333% {
    transform: translate(17.326975px, 15.922729px) rotate(0deg);
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
  }

  43.333333% {
    transform: translate(17.326975px, 15.922729px) rotate(180deg);
    animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
  }

  53.333333% {
    transform: translate(17.326975px, 15.922729px) rotate(360deg);
  }

  100% {
    transform: translate(17.326975px, 15.922729px) rotate(360deg);
  }
}
@keyframes RayRightBottomMorph {
  0% {
    d: path('M30.747600,9.070900C29.324000,13.844900,27.306400,20.477400,26.043300,22.299400L28.778900,20.200600C29.763700,17.306300,30.892900,12.281800,31.146300,9.134150C31.170100,8.837660,30.832600,8.785850,30.747600,9.070900Z');
  }

  20% {
    d: path('M30.747600,9.070900C29.324000,13.844900,27.306400,20.477400,26.043300,22.299400L28.778900,20.200600C29.763700,17.306300,30.892900,12.281800,31.146300,9.134150C31.170100,8.837660,30.832600,8.785850,30.747600,9.070900Z');
  }

  23.333333% {
    d: path('M29.204793,16.466572C28.248072,18.571567,26.892158,21.496028,26.043300,22.299400L27.881741,21.373978C28.543570,20.097798,29.302441,17.882351,29.472737,16.494461C29.488731,16.363730,29.261917,16.340886,29.204793,16.466572Z');
  }

  53.333333% {
    d: path('M29.204793,16.466572C28.248072,18.571567,26.892158,21.496028,26.043300,22.299400L27.881741,21.373978C28.543570,20.097798,29.302441,17.882351,29.472737,16.494461C29.488731,16.363730,29.261917,16.340886,29.204793,16.466572Z');
  }

  56.666667% {
    d: path('M30.747600,9.070900C29.324000,13.844900,27.306400,20.477400,26.043300,22.299400L28.778900,20.200600C29.763700,17.306300,30.892900,12.281800,31.146300,9.134150C31.170100,8.837660,30.832600,8.785850,30.747600,9.070900Z');
  }

  100% {
    d: path('M30.747600,9.070900C29.324000,13.844900,27.306400,20.477400,26.043300,22.299400L28.778900,20.200600C29.763700,17.306300,30.892900,12.281800,31.146300,9.134150C31.170100,8.837660,30.832600,8.785850,30.747600,9.070900Z');
  }
}
@keyframes RayRightBottomOpacity {
  0% {
    fill-opacity: 1;
  }

  26.666667% {
    fill-opacity: 1;
  }

  30% {
    fill-opacity: 0;
  }

  53% {
    fill-opacity: 0;
  }

  53.333333% {
    fill-opacity: 1;
  }

  100% {
    fill-opacity: 1;
  }
}
@keyframes RayRightTopMorph {
  0% {
    d: path('M29.042000,12.907700C28.355800,10.410400,24.529300,3.758330,21.775200,0.774932C21.577700,0.560944,21.312400,0.773800,21.452000,1.029370C23.807600,5.340620,27.133300,12.268100,27.494000,14.455700L29.042000,12.907700Z');
  }

  16.666667% {
    d: path('M29.042000,12.907700C28.355800,10.410400,24.529300,3.758330,21.775200,0.774932C21.577700,0.560944,21.312400,0.773800,21.452000,1.029370C23.807600,5.340620,27.133300,12.268100,27.494000,14.455700L29.042000,12.907700Z');
  }

  20% {
    d: path('M29.042000,13.618937C28.624074,12.269034,26.293566,8.673292,24.616198,7.060632C24.495912,6.944962,24.334332,7.060020,24.419355,7.198167C25.854019,9.528591,27.879517,13.273204,28.099200,14.455700L29.042000,13.618937Z');
  }

  56.666667% {
    d: path('M29.042000,13.618937C28.624074,12.269034,26.293566,8.673292,24.616198,7.060632C24.495912,6.944962,24.334332,7.060020,24.419355,7.198167C25.854019,9.528591,27.879517,13.273204,28.099200,14.455700L29.042000,13.618937Z');
  }

  60% {
    d: path('M29.042000,12.907700C28.355800,10.410400,24.529300,3.758330,21.775200,0.774932C21.577700,0.560944,21.312400,0.773800,21.452000,1.029370C23.807600,5.340620,27.133300,12.268100,27.494000,14.455700L29.042000,12.907700Z');
  }

  100% {
    d: path('M29.042000,12.907700C28.355800,10.410400,24.529300,3.758330,21.775200,0.774932C21.577700,0.560944,21.312400,0.773800,21.452000,1.029370C23.807600,5.340620,27.133300,12.268100,27.494000,14.455700L29.042000,12.907700Z');
  }
}
@keyframes RayRightTopOpacity {
  0% {
    fill-opacity: 1;
  }

  23.333333% {
    fill-opacity: 1;
  }

  26.666667% {
    fill-opacity: 0;
  }

  53% {
    fill-opacity: 0;
  }

  53.333333% {
    fill-opacity: 1;
  }

  100% {
    fill-opacity: 1;
  }
}
@keyframes RayCenterMorph {
  0% {
    d: path('M23.038100,5.696910C20.775000,4.409480,12.356700,1.936990,7.625320,1.550830C7.328840,1.526630,7.273910,1.876060,7.557480,1.965920C12.329200,3.478080,21.307400,6.592290,23.038100,7.886230L23.038100,5.696910Z');
  }

  13.333333% {
    d: path('M23.038100,5.696910C20.775000,4.409480,12.356700,1.936990,7.625320,1.550830C7.328840,1.526630,7.273910,1.876060,7.557480,1.965920C12.329200,3.478080,21.307400,6.592290,23.038100,7.886230L23.038100,5.696910Z');
  }

  16.666667% {
    d: path('M23.038100,6.830469C22.127987,6.209629,18.742542,5.017315,16.839802,4.831096C16.720572,4.819426,16.698482,4.987932,16.812520,5.031266C18.731482,5.760478,22.342094,7.262250,23.038100,7.886230L23.038100,6.830469Z');
  }

  60% {
    d: path('M23.038100,6.830469C22.127987,6.209629,18.742542,5.017315,16.839802,4.831096C16.720572,4.819426,16.698482,4.987932,16.812520,5.031266C18.731482,5.760478,22.342094,7.262250,23.038100,7.886230L23.038100,6.830469Z');
  }

  63.333333% {
    d: path('M23.038100,5.696910C20.775000,4.409480,12.356700,1.936990,7.625320,1.550830C7.328840,1.526630,7.273910,1.876060,7.557480,1.965920C12.329200,3.478080,21.307400,6.592290,23.038100,7.886230L23.038100,5.696910Z');
  }

  100% {
    d: path('M23.038100,5.696910C20.775000,4.409480,12.356700,1.936990,7.625320,1.550830C7.328840,1.526630,7.273910,1.876060,7.557480,1.965920C12.329200,3.478080,21.307400,6.592290,23.038100,7.886230L23.038100,5.696910Z');
  }
}
@keyframes RayCenterOpacity {
  0% {
    fill-opacity: 1;
  }

  16.666667% {
    fill-opacity: 1;
  }

  20% {
    fill-opacity: 0;
  }

  53% {
    fill-opacity: 0;
  }

  53.333333% {
    fill-opacity: 1;
  }

  100% {
    fill-opacity: 1;
  }
}
@keyframes RayLeftTopMorph {
  0% {
    d: path('M13.869189,4.830550C11.577593,5.573590,5.312441,9.557000,2.270240,12.508600C2.068339,12.704400,2.259737,12.984100,2.494250,12.840700C6.819833,10.196700,13.280830,6.748360,15.252600,6.378630L13.869189,4.830550Z');
  }

  10% {
    d: path('M13.869189,4.830550C11.577593,5.573590,5.312441,9.557000,2.270240,12.508600C2.068339,12.704400,2.259737,12.984100,2.494250,12.840700C6.819833,10.196700,13.280830,6.748360,15.252600,6.378630L13.869189,4.830550Z');
  }

  13.333333% {
    d: path('M14.418201,4.830550C13.036035,5.338125,9.257235,8.059217,7.422345,10.075473C7.300568,10.209226,7.416010,10.400290,7.557455,10.302333C10.166412,8.496200,14.063335,6.140618,15.252600,5.888053L14.418201,4.830550Z');
  }

  63.333333% {
    d: path('M14.418201,4.830550C13.036035,5.338125,9.257235,8.059217,7.422345,10.075473C7.300568,10.209226,7.416010,10.400290,7.557455,10.302333C10.166412,8.496200,14.063335,6.140618,15.252600,5.888053L14.418201,4.830550Z');
  }

  66.666667% {
    d: path('M13.869189,4.830550C11.577593,5.573590,5.312441,9.557000,2.270240,12.508600C2.068339,12.704400,2.259737,12.984100,2.494250,12.840700C6.819833,10.196700,13.280830,6.748360,15.252600,6.378630L13.869189,4.830550Z');
  }

  100% {
    d: path('M13.869189,4.830550C11.577593,5.573590,5.312441,9.557000,2.270240,12.508600C2.068339,12.704400,2.259737,12.984100,2.494250,12.840700C6.819833,10.196700,13.280830,6.748360,15.252600,6.378630L13.869189,4.830550Z');
  }
}
@keyframes RayLeftTopOpacity {
  0% {
    fill-opacity: 1;
  }

  10% {
    fill-opacity: 1;
  }

  13.333333% {
    fill-opacity: 0;
  }

  53% {
    fill-opacity: 0;
  }

  53.333333% {
    fill-opacity: 1;
  }

  100% {
    fill-opacity: 1;
  }
}
@keyframes RayLeftBottomMorph {
  0% {
    d: path('M6.473640,10.829300C5.214250,13.096400,3.183210,20.328100,2.993080,24.357600C2.979360,24.648300,3.319170,24.689700,3.404210,24.411400C4.731330,20.067700,7.340780,12.676000,8.662960,10.829300L6.473640,10.829300Z');
  }

  6.666667% {
    d: path('M6.473640,10.829300C5.214250,13.096400,3.183210,20.328100,2.993080,24.357600C2.979360,24.648300,3.319170,24.689700,3.404210,24.411400C4.731330,20.067700,7.340780,12.676000,8.662960,10.829300L6.473640,10.829300Z');
  }

  10% {
    d: path('M7.276385,10.829300C6.478768,11.936477,5.192438,15.468201,5.072021,17.436077C5.063332,17.578045,5.278546,17.598263,5.332405,17.462351C6.172918,15.341031,7.825576,11.731168,8.662960,10.829300L7.276385,10.829300Z');
  }

  66.666667% {
    d: path('M7.276385,10.829300C6.478768,11.936477,5.192438,15.468201,5.072021,17.436077C5.063332,17.578045,5.278546,17.598263,5.332405,17.462351C6.172918,15.341031,7.825576,11.731168,8.662960,10.829300L7.276385,10.829300Z');
  }

  70% {
    d: path('M6.473640,10.829300C5.214250,13.096400,3.183210,20.328100,2.993080,24.357600C2.979360,24.648300,3.319170,24.689700,3.404210,24.411400C4.731330,20.067700,7.340780,12.676000,8.662960,10.829300L6.473640,10.829300Z');
  }

  100% {
    d: path('M6.473640,10.829300C5.214250,13.096400,3.183210,20.328100,2.993080,24.357600C2.979360,24.648300,3.319170,24.689700,3.404210,24.411400C4.731330,20.067700,7.340780,12.676000,8.662960,10.829300L6.473640,10.829300Z');
  }
}
@keyframes RayLeftBottomOpacity {
  0% {
    fill-opacity: 1;
  }

  10% {
    fill-opacity: 1;
  }

  13.333333% {
    fill-opacity: 0;
  }

  53% {
    fill-opacity: 0;
  }

  53.333333% {
    fill-opacity: 1;
  }

  100% {
    fill-opacity: 1;
  }
}
