/* Vars:
   ========================================================================== */

// Font
$mainFont: 'Commissioner', sans-serif;
$mainFontSize: 16px;
$mainLineHeight: 1.2;
$mainFontWeight: normal;
$mainFontColor: #000;

// colors dark
$dark-bg: #101314;
$dark-bg-alt: #232323;
$dark-active: #0fe;
$dark-font: #fff;
$dark-grey: #232323;
